.users-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(240, 236, 236);
    height: 84.5vh;
    width: 77%;
    margin-left: 17.6rem;
    transform: translateY(59px);
    position: fixed;
  }

.users-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}