:root {
    --primary-color: #fb8500;
    --secondary-color: #ffb703;
    --background-color: #023047;
    --font-primary: 'Poppins', sans-serif;
  }
  
  body {
    font-family: var(--font-primary);
    background-color: var(--background-color);
  }
  